*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    min-height: 700px;
}
@font-face {
    font-family: Pokemon;
    src: url('../src/assets/font/Pokemon-Solid.woff');
}
.pokemon-font{
     font-family: Pokemon;
     font-size:100px;
     color:white;
     margin:0px auto;
}
.pokemon-name {
    font-family: Pokemon;
    font-size:50px;
    margin:0px auto;

}
